In [1]:
import pandas as pd
import numpy as np

# Series

In [2]:
a = ([2,5,7,8,3])

Create object Series

In [3]:
b = pd.Series(a)

### Left side: indexes, Right side: data

In [4]:
b

0    2
1    5
2    7
3    8
4    3
dtype: int64

### Get data using indexes

In [5]:
b = pd.Series(a, index = [0,1,2,3,4])
b

0    2
1    5
2    7
3    8
4    3
dtype: int64

### OR using symbols

In [6]:
b = pd.Series(a, index = ['a','b','c','d','e'])
b

a    2
b    5
c    7
d    8
e    3
dtype: int64

### Use dates as index

In [7]:
from datetime import date

In [8]:
ind = [date(y,m,d) for y,m,d in [(2018,1,15), (2018,1,17), (2018,1,18), (2018,1,21), (2018,1,31)]]

In [9]:
b = pd.Series(a, index = ind)
b

2018-01-15    2
2018-01-17    5
2018-01-18    7
2018-01-21    8
2018-01-31    3
dtype: int64

### Show indexes of the object 'b'

In [10]:
b.index

Index([2018-01-15, 2018-01-17, 2018-01-18, 2018-01-21, 2018-01-31], dtype='object')

### Get one item from index at a time

In [11]:
b.index[0].year

2018

In [12]:
b.index[0].month

1

In [13]:
b.index[0].day

15

### Another way to work with index datetime

In [14]:
b.index = pd.to_datetime(b.index, format = '%Y-%m-%d')
b.index

DatetimeIndex(['2018-01-15', '2018-01-17', '2018-01-18', '2018-01-21',
               '2018-01-31'],
              dtype='datetime64[ns]', freq=None)

### This time show list of years, months or days from index

In [15]:
b.index.year

Int64Index([2018, 2018, 2018, 2018, 2018], dtype='int64')

In [16]:
b.index.month

Int64Index([1, 1, 1, 1, 1], dtype='int64')

In [17]:
b.index.day

Int64Index([15, 17, 18, 21, 31], dtype='int64')

### Index can be NOT unique

In [18]:
b = pd.Series(a, index = [0,1,0,2,1])
b

0    2
1    5
0    7
2    8
1    3
dtype: int64

### Indexes can be changed

In [19]:
b.index = [10,11,12,13,14]
b

10    2
11    5
12    7
13    8
14    3
dtype: int64

### Change list data type

In [20]:
# series 'a' datatype was int
b = pd.Series(a, dtype = np.float64)
b

0    2.0
1    5.0
2    7.0
3    8.0
4    3.0
dtype: float64

### Change datatype at existing Series data type

In [21]:
b = pd.Series(a)
b = b.astype(np.float64)
b

0    2.0
1    5.0
2    7.0
3    8.0
4    3.0
dtype: float64

### Create Series from Dict.

In [22]:
d = {'1st': 'a','2nd': 'b','3rd': 'c','4th': 'd','5th': 'e'}
b = pd.Series(d)
b

1st    a
2nd    b
3rd    c
4th    d
5th    e
dtype: object

### Show data

In [23]:
b = pd.Series([5,2,6,1,6,8,7])

#### Show indexes

In [24]:
b.index

RangeIndex(start=0, stop=7, step=1)

#### Show data as array NumPy (ndarray)

In [25]:
b.values

array([5, 2, 6, 1, 6, 8, 7])

#### Show data using indexes

In [26]:
b[0]

5

In [27]:
b[[0, 5]]

0    5
5    8
dtype: int64

#### Show first few elements

In [28]:
# From top
b.head(3)

0    5
1    2
2    6
dtype: int64

In [29]:
# From end
b.tail()   #  OR   b.tail(1)

2    6
3    1
4    6
5    8
6    7
dtype: int64

#### Using conditions

In [30]:
b[b > 5]

2    6
4    6
5    8
6    7
dtype: int64

In [31]:
b[(b ==7) | (b % 3 == 0)]

2    6
4    6
6    7
dtype: int64

### Change the value of the data

In [32]:
# change first value
b[0] = 0
b

0    0
1    2
2    6
3    1
4    6
5    8
6    7
dtype: int64

In [33]:
# Change data to 0 where data < 5
b[b < 5] = 0
b

0    0
1    0
2    6
3    0
4    6
5    8
6    7
dtype: int64

In [34]:
# Change data in specific indexes
b[[0,1,2]] = 1
b

0    1
1    1
2    1
3    0
4    6
5    8
6    7
dtype: int64

### Adding Series to existing Series

In [35]:
# append(pd.Series({index, value}))
b = b.append(pd.Series({6:10,7:15,8:11,9:14}))
b

0     1
1     1
2     1
3     0
4     6
5     8
6     7
6    10
7    15
8    11
9    14
dtype: int64

### Delete value using index

In [36]:
# drop(index)
b = b.drop([0,1,2])
b

3     0
4     6
5     8
6     7
6    10
7    15
8    11
9    14
dtype: int64

# Save & Read data from file

In [37]:
# to_pickle('filename.pkl')
b.to_pickle('b.pkl')

In [38]:
# read_pickle('filename.pkl')
b2 = pd.read_pickle('b.pkl')

In [39]:
b2

3     0
4     6
5     8
6     7
6    10
7    15
8    11
9    14
dtype: int64